* {box-sizing: border-box}

  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px ;
  display: inline-block;
  border: none;
  background: #f1f1f1;
  
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
  
}

hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

button {
  background-color:rgb(0 181 255);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.heading{
    font-weight: bold;
    font-size: 30px;
   

}

 .signupbtn {
  float: left;
 align-items: center;
}


.container {
  padding: 16px;
}
.mainLayout{
    display: flex;
    justify-content: space-between;
}


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

